/* Education */

.education {
}
.education__grid {

}
.education__title {
    grid-row: 1/2;
    grid-column: 1/8;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
}

.education__video_wrapper {
    grid-row: 2/3;
    grid-column: 1/13;
    margin: 42px 0;
}

.education__video {
    max-width: 100%;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}
.education__steps {
    grid-row: 3/4;
    grid-column: 1/13;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 30px;
    row-gap: 30px;
}
.steps__item {
    max-width: 270px;
}
.steps__number {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: var(--color-gold);
}
.steps__number::after {
    content: " ";
    display: block;
    height: 1px;
    background-color: var(--color-background-black);
    margin: 16px 0 34px 0;
}

.steps__title {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 12px;
}
.steps__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-secondary-text);
}

@media (max-width: 768px) {
    .education__steps {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 589px) {
    .education__steps {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}


@media (max-width: 425px) {
    .education__title {
        grid-column: 1/10;
    }

    .steps__number {
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
    }

    .steps__number::after {
        margin: 8px 0 17px 0;
    }

    .steps__title {
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 6px;
    }

    .steps__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }

    .education__steps {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        column-gap: 15px;
    }

    .education__wrapper {
        
    }
}

/* Education */