/* Experts */

.experts {
}

.experts__grid {
    margin-right: 0;
}
.experts__wrapper {

}
.experts__title {
    grid-column: 1/8;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 38px;
}
.experts__cards {
    grid-row: 2/3;
    grid-column: 1/13;
    display: flex;
    justify-content: space-between;
}
.experts__card {
}
.experts__img {
}
.experts__info {
    margin-top: 18px;
}
.info__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 12px;
}
.info__description {
    width: 260px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-secondary-text);
}

@media (max-width: 1100px) {
    .experts__grid {
        margin-left: 0px;
        padding-left: 0;
    }

    .experts__cards {
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
    }

    .experts__cards::-webkit-scrollbar {
        display: none;
    }

    .experts__card {
        scroll-snap-align: start;
        padding-left: 15px;
    }

    .experts__title {
        margin-left: 15px;
    }
}

/* Experts */