/* FeedBack */


.feedback {
}
.feedback__wrapper {
    
}
.feedback__content {
    grid-column: 2/12;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    max-width: 1030px;
    height: 346px;
    
    background-color: var(--color-gold);
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}
.feedback__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}
.feedback__description {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}
.feedback__form {
    max-width: 424px;
    margin: 0 15px 0 0;
    display: grid;
    row-gap: 18px;
    column-gap: 26px;
    justify-self: start;
}
.form__name, .form__phone, .form__email {
    width: 100%;
    padding: 19px 0 19px 21px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.form__name {
    grid-column: 1/3;
}
.feedback__form label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.form__input {
    height: 64px;
    color: var(--color-text-white);
    justify-self: end;
}

@media (max-width: 768px){
    .feedback__content {
        text-align: center;
        height: 542px;
        grid-template-columns: none;
        padding: 0 15px;
    }

    .feedback__form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-items: center;
        /* grid-template-columns: none;
        grid-template-rows: none; */
    }

    .feedback__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 26px;
    }

    .feedback__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }

    .form__input {
        margin: 0 auto;
    }

    .feedback__form > input {
        /* margin: 0px 15px; */
    }
}

/* FeedBack */