:root {
    --color-gold: #FCC344;
    --color-interface: #F7F7F7;
    --color-text-default: #000000;
    --color-text-white: #ffffff;
    --color-background-black: #000000;
    --color-background-white: #ffffff;
    --color-secondary-text: #717171;
    --color-green: #0FAD1F;
    --color-footer-links: #8D8D8D;
}

@font-face {
    font-family: Aeroport;
    src: url(fonts/Aeroport/Aeroport.otf);
}

body {
    font-family: 'Aeroport';
    background-color: var(--color-background-white);
    color: var(--color-text-default);
}

a {
    text-decoration: none;
    color: var(--color-text);
}

.grid_default {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    margin: 0px 30px;
}

.button_s {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 48px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.button_m {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 56px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.button_l {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 163px;
    height: 64px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.button_active {
    width: 168px;
    height: 48px;
    background-color: var(--color-gold);
    border-radius: 16px;
}

.button_inactive {
    width: 168px;
    height: 48px;
    background-color: #000000;
    border-radius: 16px;
}

section {
    margin-top: 180px;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

/* discount */

.discount__back {
    background-image: url("img/png/sale_frame.png");
    height: 70px;
}

.discount__back__close {
    position: relative;
    left: 95%;
    top: 25%;
    background-image: url("img/svg/icon_close_inactive.svg");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.discount__back__close:hover {
    background-image: url("img/svg/icon_close_active.svg");
}

/* discount */